// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "./clean-blog.min.css";

.navbar-nav .active {
    text-decoration: underline;
}

.tv {
    font-family: "Pattaya", sans-serif;
}

.ttv {
    font-family: "Roboto", sans-serif;
}
